:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  margin: 0;
  background-color: rgb(8, 94, 163);
  flex: 1;
  position: relative;

  .cody-img{
    position: fixed;
    bottom: 1em;
    right: 1em;
  }
}

